<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<div class="container">
    <div class="row">
        {% if not user %}
            <div class="login-box auth0-box before mx-auto text-center">
                <h3>Login</h3>
                <a class="btn btn-primary" href="" data-request="auth0::onLogin">Sign In</a>
            </div>
        {% else %}
            <div class="col-md-6 img">
                <img src="{{ user.picture }}" alt="" class="img-rounded">
            </div>
            <div class="col-md-6 details">
                <blockquote>
                <h5>{{ user.nickname }}</h5>
                <small><cite title="Source Title">Chicago, United States of America  <i class="icon-map-marker"></i></cite></small>
                </blockquote>
                <p>
                fionagallager@shameless.com <br>
                www.bootsnipp.com <br>
                June 18, 1990
                </p>
                <a class="btn btn-danger" href="" data-request="auth0::onLogout">Log out</a>
            </div>
        {% endif %}
    </div>
</div>